include head.pug
  title Artists | Big Hit Music
.container
  header
    // Navigation Bar
    // Author: Calica, Gwyneth M.
    nav
      a(href='view/index.pug')
        img(src='images/logo site.png' alt='logo')
      ul.nav-links
        li
          a(href='view/index.pug') Home
        li
          a(href='view/songs.pug') Music
        li
          a.link-focus(href='artists.html') Artists
        li
          a(href='about.html') About
      .burger
        .line1
        .line2
        .line3
  #artist-list
    // Content
    // Author: Natividad, Hudson Kit P.
    h1 Bighit Artist
    each artist in artists
      .artistContainer
        a(href='https://kprofiles.com/big-hit-entertainment-profile-history-artists-facts/')
          img(src=`${artist.artistimage}` alt=`${artist.nickname}`)
        br
        p
            em
                strong #{artist.artistname}
        p
            | Debut Year: #{artist.debutyear}
            br
            | No of Artists: #{artist.membernum}

  footer
    hr
    p(align='center') Copyright &copy; 2020 Alpha Group. All rights reserved.
  script(src='https://apis.google.com/js/client.js?onload=handleClientLoad')
  script(type='text/javascript' src='app.js')
