doctype html

head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    // Favicon
    // Author: Calica, Gwyneth M.

    link(rel='apple-touch-icon' sizes='57x57' href='favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon' sizes='60x60' href='favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='72x72' href='favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='76x76' href='favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon' sizes='114x114' href='favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='120x120' href='favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='144x144' href='favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon' sizes='152x152' href='favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='180x180' href='favicon/apple-icon-180x180.png')
    link(rel='icon' type='image/png' sizes='192x192' href='favicon/android-icon-192x192.png')
    link(rel='icon' type='image/png' sizes='32x32' href='favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='96x96' href='favicon/favicon-96x96.png')
    link(rel='icon' type='image/png' sizes='16x16' href='favicon/favicon-16x16.png')
    link(rel='manifest' href='favicon/manifest.json')
    meta(name='msapplication-TileColor' content='#ffffff')
    meta(name='msapplication-TileImage' content='favicon/ms-icon-144x144.png')
    meta(name='theme-color' content='#ffffff')
    link(rel='stylesheet' type='text/css' href='style.css')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat&display=swap' rel='stylesheet')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    title Music | Big Hit Music
header
    // Navigation Bar
    // Author: Calica, Gwyneth M.
    nav
        a(href='index')
            img(src='images/logo site.png' alt='logo')
        ul.nav-links
            li
                a(href='index') Home
            li
                a.link-focus(href='songs') Music
            li
                a(href='artists') Artists
            li
                a(href='about') About
        .burger
            .line1
            .line2
            .line3
.musicHeader
    h1 Songs List
    .search-container
        form(action='search' method='get')
            input#search-fld(type='text' placeholder='Type something..' name='searchTracks')
            button#search-btn(type='submit')
                img.search-icon(src='images/search-icon.png' alt='search icon')
.aligned-con.filter-con
    p Artists:
    #filters.aligned-con
        form(action='songs' method='get')
            button.filter-but(id= all type='submit' name='filterArtist')
                p(style='margin: 2px 4px;') All
        each artist in artists
            form(action='filter' method='get')
                button.filter-but(id= artist.nickname type='submit' value=`${artist.artistid}` name='filterArtist')
                    p(style='margin: 2px 4px;')
                    | #{artist.nickname}

br
.column
    #result-items-con
        .all-song-con
            h3 Songs
            hr
            .song-det-con
                ul#song-list.list-con
                    each track in tracks
                        li
                        .spotify-song-con(id = track.artistname)
                            h3 #{track.trackname}
                            .track-info
                                img(src= `${track.albumimg}` alt='Album image')
                                .song-desc-con
                                    p
                                        | #{track.artistname}
                                        br
                                        span
                                            small
                                                | Album name: #{track.albumname}
                                                br
                                                | Released on: #{track.releaseddate}
                                    form(action='albums' method='get')
                                        button.album-btn(id = track.albumid type='submit' name='playlist' value=`${track.albumid}`) Play album
                                    if(track.musicvideo == null)
                                        console.log("No Video")
                                    else
                                        form(action='videos' method='get')
                                            button.see-vid(id = track.trackname type='submit' name='seeVid' value=`${track.trackid}`) See Music Video
                        br

footer
    hr
    p(align='center') Copyright&copy; 2020 AlphaGroup. All rights reserved.
script(src='https://apis.google.com/js/client.js?onload=handleClientLoad')
script#main-css(type='text/javascript' src='../app.js')