doctype html

head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    // Favicon
    // Author: Calica, Gwyneth M.

    link(rel='apple-touch-icon' sizes='57x57' href='favicon/apple-icon-57x57.png')
    link(rel='apple-touch-icon' sizes='60x60' href='favicon/apple-icon-60x60.png')
    link(rel='apple-touch-icon' sizes='72x72' href='favicon/apple-icon-72x72.png')
    link(rel='apple-touch-icon' sizes='76x76' href='favicon/apple-icon-76x76.png')
    link(rel='apple-touch-icon' sizes='114x114' href='favicon/apple-icon-114x114.png')
    link(rel='apple-touch-icon' sizes='120x120' href='favicon/apple-icon-120x120.png')
    link(rel='apple-touch-icon' sizes='144x144' href='favicon/apple-icon-144x144.png')
    link(rel='apple-touch-icon' sizes='152x152' href='favicon/apple-icon-152x152.png')
    link(rel='apple-touch-icon' sizes='180x180' href='favicon/apple-icon-180x180.png')
    link(rel='icon' type='image/png' sizes='192x192' href='favicon/android-icon-192x192.png')
    link(rel='icon' type='image/png' sizes='32x32' href='favicon/favicon-32x32.png')
    link(rel='icon' type='image/png' sizes='96x96' href='favicon/favicon-96x96.png')
    link(rel='icon' type='image/png' sizes='16x16' href='favicon/favicon-16x16.png')
    link(rel='manifest' href='favicon/manifest.json')
    meta(name='msapplication-TileColor' content='#ffffff')
    meta(name='msapplication-TileImage' content='favicon/ms-icon-144x144.png')
    meta(name='theme-color' content='#ffffff')
    link(rel='stylesheet' type='text/css' href='style.css')
    link(href='https://fonts.googleapis.com/css2?family=Montserrat&display=swap' rel='stylesheet')
    meta(name='viewport' content='width=device-width,initial-scale=1')
    title Music | Big Hit Music
header
    // Navigation Bar
    // Author: Calica, Gwyneth M.
    nav
        a(href='index.pug')
            img(src='images/logo site.png' alt='logo')
        ul.nav-links
            li
                a(href='index.pug') Home
            li
                a.link-focus(href='songs.html') Music
            li
                a(href='artists.html') Artists
            li
                a(href='about.html') About
        .burger
            .line1
            .line2
            .line3
.musicHeader
    h1 Videos or Songs List
    .search-container
        input#search-fld(type='text' placeholder='Type something..' name='search')
        button#search-btn(type='submit')
            img.search-icon(src='images/search-icon.png' alt='search icon')
#radio-btn-con.aligned-con
    .radio-btn.aligned-con
        input#choice1(checked='' name='searchParam' type='radio' value='songs')
        label(for='choice1') Songs
    .radio-btn.aligned-con
        input#choice2(type='radio' name='searchParam' value='videos')
        label(for='choice2') Videos
.aligned-con.filter-con
    p Artists:
    #filters.aligned-con
br
.column
    #result-items-con
        .all-video-con(style='display: none;')
            h3 Videos
            hr
            #videos
                #videoContainer
                ul#video-list

        .all-song-con
            h3 Songs
            hr
            ul#song-list.list-con
                each track in tracks
                    li
                    .spotify-song-con(id = track.artistname)
                        h3 #{track.trackname}
                        .track-info
                            img(src= `${track.albumimg}` alt='Album image')
                            .song-desc-con
                                p
                                    | #{track.artistname}
                                    br
                                    span
                                        small
                                            | Album name: #{track.albumname}
                                            br
                                            | Released on: #{track.releaseddate}
                                form(action='albums' method='get')
                                    button.album-btn(id = track.albumid type='submit' name='playlist' value=`${track.albumid}`) Play album
                                form(action='videos' method='get')
                                    button.see-vid(id = track.trackname type='submit' name='search' value=`${track.trackname}`) See Music Videos
                    br

    .spotify-player
footer
    hr
    p(align='center') Copyright&copy; 2020 AlphaGroup. All rights reserved.
script(src='https://apis.google.com/js/client.js?onload=handleClientLoad')
script#main-css(type='text/javascript' src='../app.js')
