include head.pug
    title Videos | Big Hit Music
header
    nav
        a(href='index')
            img(src='images/logo site.png' alt='logo')
        ul.nav-links
            li
                a(href='index') Home
            li
                a.link-focus(href='songs') Music
            li
                a(href='artist') Artists
            li
                a(href='about') About
        .burger
            .line1
            .line2
            .line3
.musicHeader
    h1 Videos List
    input#search-fld(type='text' placeholder='Type something..' name='search')
        button#search-btn(type='submit')
            img.search-icon(src='images/search-icon.png' alt='search icon')

.column
    #result-items-con
        .all-video-con(style='display: none;')
            h3 Videos
            hr
            #videos
                #videoContainer
                ul#video-list.list-con
                    each video in videos
                        - let title = video.snippet.title;
                        - let published = video.snippet.publishedAt;
                        - let videoID = video.id.videoId;
                        - let img = video.snippet.thumbnails.high;
                        small= published
                        li
                        .video-con(id = `${videoID}`)
                            form(action='video' method='get')
                                button.video-btn(id  = `${videoID}` type='submit' name='play' value=`${videoID}`)
                                    img(src=`${img.url}` title=`${title}`)
                            .desc-con
                                h4 #{title}
                                small #{published}
footer
    hr
    p(align='center') Copyright&copy; 2020 AlphaGroup. All rights reserved.
script(src='https://apis.google.com/js/client.js?onload=handleClientLoad')
script#main-css(type='text/javascript' src='../app.js')